<%= form_with(model: article, local: true) do |form| %>
  <% if article.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(article.errors.count, "error") %> prohibited this article from being saved:</h2>

      <ul>
      <% article.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="form-group">
      <label for="inputsm"><%= form.label :title, "Título" %></br>
        <%= form.text_field :title, class: "form-control" %>
      </label> 
    </div> 
  </div>

  <div class="field">
    <div class="form-group">
      <label for="comment">
      <%= form.label :description, "Descrição" %>
      <%= form.text_area :description, class: "form-control", class: "tinymce" %>
      </label>
    </div>
  </div>
 
  <%= form.hidden_field :user_id,:value => current_user.id, class: "form-control" %>


  <div class="actions text-right">
    <%= form.submit value: "Criar", class: "btn btn-primary" %>
  </div>
<% end %>
<%= tinymce %>
