<p id="notice"><%= notice %></p>

<%= search_form_for @q do |form| %>
  <%= form.label :description_cont, 'Pesquisar' %>
  <%= form.search_field :description_cont%>
  <%= form.submit value: 'Pesquisar' %>
<% end %>

<div class="container">
  <h1 class="articles">Artigos</h1>
      <% @articles.each do |article| %>
          <%= link_to article.title, article %>
          <%= article.description.html_safe %>
          Escrito por:<%= link_to article.user.name, article.user %>
          <br/>
          <%= link_to "Like", like_article_path(article), method: :put, remote: :true %>
          <span class="likes-count"><%= article.get_upvotes.size %></span>
          <br/>
          <% if (article.user == current_user) || (current_user.kind == 'gp_director' || 'director' || 'project_director')  %>
            <%= link_to 'Edit', edit_article_path(article) %> |
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
            <br/>
            <br/>
          <% end %>
      <% end %>
  <br>

  <%= link_to 'Criar novo artigo', new_article_path %>

</div>
