<p id="notice"><%= notice %></p>

<div class="container">
  <h1 class="articles">Artigos</h1>
      <% @articles.each do |article| %>
          <%= link_to article.title, article %>
          <%= article.description.html_safe %>
          Escrito por:<%= link_to article.user.name, article.user %>
          <br/>
          <% if (article.user == current_user) || (current_user.kind == 'gp_director' || 'director' || 'project_director')  %>
            <%= link_to 'Edit', edit_article_path(article) %> |
            <%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %>
          <% end %>
      <% end %>
  <br>

  <%= link_to 'Criar novo artigo', new_article_path %>

</div>
