<div class="container container-img-footprint">
    <h1 class="h1-my-tasks"> Minha tarefas </h1>

    <div class="row">
        <div class="col-sm-6 text-center">
            <h3>Tarefas da célula</h3>
            <% @undone_cell_tasks.each do |task| %>
                <%=task.description %>
                <%= form_with(url: update_cell_task_path) do |form| %>
                    <%= form.hidden_field :id, :value => task.id %>
                    <%= form.submit "Concluído", :class => 'btn' %>
                <% end %>
            <% end %>           
        </div>
        <div class="col-sm-6 text-center">
            <h3> Tarefas da diretoria </h3>
            <% @undone_dir_tasks.each do |task| %>
                <%= task.description %>
                <%= form_with(url: update_dir_task_path) do |form| %>
                    <%= form.hidden_field :id, :value => task.id %>
                    <%= form.submit "Concluído", :class => 'btn' %>
                <% end %>
            <% end %>        
        </div>
    </div>


    <h2 class="mt-5"> Tarefas já concluídas: </h2>
    <table class="table">
        <% @done_cell_tasks.each do |task| %>
            <tr>
                <td><%= task.description %></td>
                <td>Concluída em: <%= task.updated_at %></td>
            </tr>
        <%end%>
        <% @done_dir_tasks.each do |task| %>
            <tr>
                <td><%= task.description %></td>
                <td>Concluída em: <%= task.updated_at %></td>
            </tr>
        <%end%>
    </table>
</div>