<div class="container container-img-footprint">
  <p id="notice"><%= notice %></p>

  <h1 class="h1-skills">Habilidades</h1>

  <table class="table">
    <thead>
      <tr>
        <th>Nome</th>
        <th>Descrição</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @skills.each do |skill| %>
        <tr>
          <td><%= skill.name %></td>
          <td><%= skill.description %></td>
          <td><%= link_to  image_tag('show.svg'), skill %></td>
          <td><%= link_to image_tag('edit.svg'), edit_skill_path(skill) %></td>
          <td><%= link_to image_tag('destroy.svg'), skill, method: :delete, data: { confirm: 'Você tem certeza?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <div class="actions text-right">
    <%= link_to 'Nova Habilidade', new_skill_path, class:"btn btn-primary btn-new-dir" %>
  </br>
</div>