<p id="notice"><%= notice %></p>

<p>
  <strong>Pmo:</strong>
  <%= @project.pmo %>
</p>

<p>
  <strong>Description:</strong>
  <%= @project.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<% if current_user.kind == 'pmo_manager' || 'project_director' || 'cell_manager' %>
  <h3> Adicionar novo membro </h3>
  <%= form_with(url: new_member_path) do |form| %>
    <%= form.hidden_field :project_id, :value => @project.id %>
    <%= form.select :user_id, @select_users %>
    <%= form.submit %>
  <%end%>
<%end%>

<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
