<%= form_with(model: directorship, local: true) do |form| %>
  <% if directorship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(directorship.errors.count, "error") %> prohibited this directorship from being saved:</h2>

      <ul>
      <% directorship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <div class="field">
      <%= form.label :Nome %>
      <%= form.text_field :name %>
    </div>

    <div class="field">
      <%= form.label :Diretor %>
      <%= form.select :director, directors %>
    </div>

    <div class="actions text-right">
      <%= form.submit "Criar diretoria", class:"btn btn-primary btn-new-dir"%>
    </div>
  </div>
<% end %>
