<div class="container container-img-footprint">
  <div class="row">
    <%= link_to image_tag('back.svg'), directorships_path, class: "icon-show" %>
    <%= link_to image_tag('edit.svg'), edit_directorship_path(@directorship), class: "icon-show img-edit" %>
  </div>
  <div class="text-center">
    <%= image_tag ("wolf-suit.png"), class:"img-wolf-suit" %>
    <h1>Diretoria</h1>
  </div>
  <p>
    <strong class="show-name">Nome:</strong>
    <%= @directorship.name %>
  </p>

  <p>
    <strong class="show-director">Diretor:</strong>
    <%= User.find(@directorship.director).name %>
  </p>


  <div class="card-group">
    <h2 class="mt-5">Metas</h2>
    <% @directorship.directorship_goals.each do |goal| %>
    <div class="card">
      <div class="card-body col-md-12 text-center">
        <strong>Nome da meta</strong> <br> <p class="text-goal"> <%= goal.title %> </p> <br>
        <strong>status</strong> <br> <p class="text-goal"> <% if goal.status %>
          FINALIZADA(PREENCHER)<br>
        <%else%>
          EM ANDAMENTO(PREENCHER)<br>
        <%end%>
        </p> <br>
        <strong>Descrição</strong> <br> <p class="text-goal"> <%= goal.description %> </p> <br>
        <%= link_to 'Exibir meta', show_directorshipgoal_path(:id => goal.id), class:"btn btn-primary btn-goal" %>
      </div>
    </div>
  <%end%>

  <div class="actions text-center">
    <%= link_to  "Criar nova meta", directorshipgoal_path(:id => @directorship.id), class: "btn btn-primary btn-new-dir" %>
  </div>
  
</div>

