<div class="container">
    <%= link_to image_tag("back.svg"), directorship_path(:id => params[:id]) %>
    <div class="text-center">
        <%= image_tag ("goals.svg"), class:"img-goals" %>
        <h1>Criar metas</h1>
    </div>
    <%= form_tag create_directorshipgoal_path do %>
        <div class='field'>
            Titulo:<%= text_field_tag :title %>
        </div>
        <div class='field'>
            Descrição:<%= text_area_tag :description %>
        </div>

        <%= hidden_field_tag :status, false %>

        <%= hidden_field_tag :directorship_id, @directorship.id %>

        <div class='action'>
            <%= submit_tag "Criar meta" %>
        </div>
    <% end %>    
</div>