<div class="container container-img-footprint">
  <%= link_to image_tag('back.svg'), directorship_path(:id => @directorshipGoal.directorship.id) %>
  <h1 class="h1-goal">meta</h1>
  <h2><%= @directorshipGoal.title %></h2>

  <p>
      <%= @directorshipGoal.description %>
  </p>

  <% if @directorshipGoal.status %>
      <h4>Status: Finalizada</h4>
  <%else%>
      <h4>Status: Em Andamento</h4>
  <%end%>

  <table>
      <thead>
          <th>Tarefa:</th>
          <th>Status:</th>
          <th>Designada a:</th>
      </thead>
      <tbody>
          <% @directorshipGoal.directorship_tasks.each do |task| %>
              <tr>
                  <td><%= task.description %></td>
                  <td><% if task.status %>
                    FINALIZADA(PREENCHER)
                  <%else%>
                    EM ANDAMENTO(PREENCHER)
                  <%end%>
                  </td>
                  <td><%= task.user.name %></td>
              </tr>
          <%end%>
      </tbody>
  </table>
-------------------------------------------
  <h3>Adicionar nova Tarefa:</h3>

  <% directorship_task = @directorshipTask %>
  <%= form_with(url: new_directorship_task_path) do |form| %>

    <div class="field">
      Descrição:<%= form.text_field :description %>
    </div>

    <div class="field">
      <%= form.hidden_field :directorship_goal_id, :value => @directorshipGoal.id %>
    </div>

    <div class="field">
      <%= form.hidden_field :status, :value => false %>
    </div>

    <div class="field">
      Designar para:<%= form.select :user_id, @users %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>

</div>