<%= form_with(model: cell, local: true) do |form| %>
  <% if cell.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cell.errors.count, "error") %> proibiu que esta célula fosse salva:</h2>

      <ul>
      <% cell.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Nome %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :Diretor %>
    <%= form.select :manager, managers %>
  </div>

  <div class="field">
    <%= form.label :Diretoria %>
    <%= form.select :directorship_id, dirs %>
  </div>

  <div class="actions text-right">
    <%= form.submit "Salvar", class: "btn btn-primary btn-new-dir"%>
  </div>
<% end %>
