<div class="container container-img-footprint">
  <p id="notice"><%= notice %></p>
  <div class="row">
    <%= link_to image_tag('back.svg'), cells_path, class: "icon-show img-back" %>
    <%= link_to image_tag('edit.svg'), edit_cell_path(@cell), class: "icon-show img-edit" %>
  </div>
  <div class="text-center">
    <%= image_tag ("group-wolf-suit.png"), class:"img-group-wolf-suit" %>
    <h1>Célula</h1>
  </div>
  

  <p>
    <strong class="show-title">Nome:</strong>
    <%= @cell.name %>
  </p>

  <p>
    <strong class="show-title">Gerente:</strong>
    <%= User.find(@cell.manager).name %>
  </p>

  <p>
    <strong class="show-title">Diretoria:</strong>
    <%= @cell.directorship.name %>
  </p>

  <table class="table">
    <tr>
      <h2>Integrantes</h2>
    </tr>
    <% @cell.users.each do |user| %>
      <td><%= link_to user.name, user,  class:"h3" %></td>
    <%end%>
  </table>

  
  <div class="card-group">
    <h2>Metas</h2>
    <% @cell.cell_goals.each do |goal| %>
    <div class="card">
      <div class="card-body col-md-12 text-center">
        <strong>Nome da meta</strong> <br> <p class="text-goal"> <%= goal.title %> </p> <br>
        <strong>Status</strong> <br> <p class="text-goal"> <%if goal.status%>Sim<%else%>Não<%end%> </p> <br>
        <strong>Descrição</strong> <br> <p class="text-goal"> <%= goal.description %> </p> <br>
        <%= link_to 'Exibir meta', show_cellgoal_path(:id => goal.id), class:"btn btn-primary btn-goal" %>
      </div>
    </div>
    <%end%>
  </div>

  <div class="actions text-center">
    <%= link_to  "Criar nova meta", cellgoal_path(:id => @cell.id), class: "btn btn-primary btn-new-dir btn-new-goal" %>
  </div>
</div>
