<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cell.name %>
</p>

<p>
  <strong>Manager:</strong>
  <%= User.find(@cell.manager).name %>
</p>

<p>
  <strong>Directorship:</strong>
  <%= @cell.directorship.name %>
</p>

<table>
  <th>Integrantes</th>
  <% @cell.users.each do |user| %>
    <tr><%= link_to user.name, user %></tr>
  <%end%>
</table>


<% @cell.cell_goals.each do |goal| %>
  <%= goal.title %> |
  <%= goal.status %> |
  <%= goal.description %> |
  <%= link_to 'Pagina da meta', show_cellgoal_path(:id => goal.id) %>
  <table>
    <thead>
      <th>Tarefa:</th>
      <th>Status:</th>
      <th>Designada a:</th>
    </thead>
    <% goal.cell_tasks.each do |task| %>
      <tr>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= task.user.name %></td>
      </tr>
    <%end%>
  <table>
<%end%>

<%= link_to  "Criar nova Meta", cellgoal_path(:id => @cell.id) %>

<%= link_to 'Edit', edit_cell_path(@cell) %> |
<%= link_to 'Back', cells_path %>
