<!DOCTYPE html>
<html>
  <head>
    <title>Projeto final</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <div class="navbar">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <%= image_tag("menu-button.svg", size: "30x30", :alt => "Menu")%>
            </button>
            <a class="navbar-brand" href="#">
              <%= image_tag("logo-branca.png", size: "60x40", :alt => "Logo InJunior") %>
            </a>
          </div>
          <div class="navbar-collapse collapse" id="navbarToggler">
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to  "Artigos", articles_path %>
              </li>
              <li>
                <%= link_to  "Fórum", posts_path %>
              </li>
              <% if current_user.kind == 'pmo_manager' || 'project_director' %>
                <li>
                  <%= link_to  "Projetos", projects_path %>
                </li>
              <%end%>
              <% if current_user.kind == 'cell_manager' || 'pmo_manager' %>
                <li>
                  <%= link_to  "Células", cells_path %>
                </li>
              <%end%>  
              <% if current_user.kind == 'director' || 'project_director' || 'gp_director' %>
                <li>
                  <%= link_to  "Diretorias", directorships_path %>
                </li>   
              <%end%>
              <% if current_user.kind == 'gp_director' %>
                <li>
                  <%= link_to  "Usuários", users_path %>
                </li>
              <%end%>  
              <li class="nav-item-profile">
                <div class="dropdown show">
                  <a class="dropdown-toggle" href="#" data-toggle="dropdown" id="dropdownMenuLink" aria-haspopup="true" aria-expanded="false">
                    <%= image_tag("image-profile-white.png") %>
                  </a>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <%= link_to "Perfil", current_user, class:"dropdown-item" %><br>
                    <% if user_signed_in? %>
                      <%= link_to  "Sair", destroy_user_session_path(current_user.id), method: :delete, class:"dropdown-item" %>
                    <%end%>
                  </div>
                </div>
              </li>
            <% end %>  
            </ul>
          </div>
        </div>
    </header>
    <%= yield %>
    <a href="#" class="go-top"><%= image_tag 'up-arrow.svg', class: 'img-responsive' %></a>
  </body>
</html>
>
